<div class="get-characters w3-container"> </div>
    <h3>{{this.username}}'s posts:</h3>
    
{{#if loggedIn}}
  {{#each posts as |post|}}
    <article class="post w3-margin-top">
      <div class="title w3-blue-grey ">
         <a href="/dashboard/edit/{{id}}">   
          <div class="w3-container w3-padding-16 w3-text-light-grey">{{post.title}} 
              <span class="w3-right-align w3-text-light-grey" >(Posted at {{post.created_at}})
              </span>
            </div>
        </a>
      </div>
        <div>
        <p class="w3-container">
          {{post.post_content}}
        </p>
      </div>
    </article>
  {{/each}}
  {{/if}}

<div class="w3-padding-large w3-center">
  <button type="button" onclick="location.href='/create-post'">+ New Blog Post</button>
</div>






